<!DOCTYPE html>
<html>
  <head>
    <title>Tus tareas</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css"> 
    <script src="https://kit.fontawesome.com/80f37fa8b2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="body__div">
      <h1 class="body__div__h1">Tus tareas</h1>
      <h3>Organiza tus tareas en esta plataforma</h3>
      <div class="container tex-center">
        <div class = "row align-items-start">
    <!-- Button trigger modal -->
<button type="button" class="col-md-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
 Agregar Tarea
</button>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/home" method="POST">
        <div class="modal-body">        
          <input type="text"name="name" id="name"placeholder = "Escribi aca tu nueva tarea">
          <select name="status"id="status">
            <option value="" selected hidden>Seleccione estado...</option>
          <% statuses.forEach(status => { %>            
                <option value="<%= status.id %>"><%= status.name %></option>           
          <% }) %>
          </select>
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    </div>
  </div>
</div>
<section class="table container-fluid">
  
    <h5 class="section__table__h4">Pendiente</h5>
    <article class="section__article">
    <% for( let i = 0; i < taskes.length; i++ ) { %>           
         <% if (taskes[i].statusId === 1){ %>         
               <p class = "section__article__p" id="p__task"data-bs-toggle="modal" data-bs-target="#updateModal<%=taskes[i].id%>"><%= taskes[i].name %></p>       
         <% }%>
    <% } %>
  </article>
   
  <h5 class="div__table__h4">En Proceso</h5>
   <article class="section__article">
    <%for( let i = 0; i < taskes.length; i++ ) { %>           
      <% if (taskes[i].statusId === 2){ %>
        <p class = "section__article__p" id="p__task"data-bs-toggle="modal" data-bs-target="#updateModal<%= taskes[i].id%>"><%= taskes[i].name %></p>        
      <% } %>
 <% } %>
   </article>

  <h5 class="div__table__h4">Terminada</h5>
  <article class="section__article">
    <% for( let i = 0; i < taskes.length; i++ ) { %>           
      <% if (taskes[i].statusId === 3){ %>
        <p class = "section__article__p" id="p__task"data-bs-toggle="modal" data-bs-target="#updateModal<%=taskes[i].id%>"><%= taskes[i].name %></p>        
      <% } %>
    <%} %>
  </article>
  <!-- Modal -->
  <% taskes.forEach(task => { %>
    <div class="modal fade" id="updateModal<%= task.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModalLabel">Editar tarea</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST"action="/home/<%= task.id %>?_method=PUT">
            <div class="modal-body">        
              <input type="text"name="name" id="name" value="<%= task.name %>">
              <select name="status"id="status">
                <option value="" selected hidden>Seleccione estado...</option>
              <% statuses.forEach(status => { %>            
                    <option value="<%= status.id %>" name="status"><%= status.name %></option>           
              <% }) %>
              </select>
             </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          <form action="/home/<%= task.id %>?_method=DELETE"method="POST">
              <button type="submit" class="btn btn-danger" data-bs-target="#exampleModalToggle2<%= task.id %>" data-bs-toggle="modal"name ="delete">ELIMINAR</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
  

  </section>
      
          </div>        
        </div>      
         
      </div>
     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>
